@font-face {
  font-family: 'Vollkorn';
  src: url('../fonts/Vollkorn-Regular.otf');
}

body {
  background-image: url("../images/zig-zag.png");
}

body, .map {
/*.leaflet-bar a, .leaflet-bar a:hover */
  background-color: #0CD7EB;
  font-size: 18px;
}

body, a, a:visited {
  /*color: #f1f1f1;*/
  color: #212121;
}

body {
  font-family: 'Vollkorn';
  margin: 0;
  padding: 0;
  line-height: 1.5em;
}

.contents > * {
  width: 33.333%;
}

article {
  margin: 0 auto;
}

article p {
  text-align: center;
}

aside {
  top: 0;
  height: 100vh;
  overflow: auto;
  position: fixed;
}

p {
  margin: 0;
  padding-bottom: 10px;
}

#left {
  direction: rtl;
  left: 0;
}

#left ul li {
  direction: ltr;
}

#right {
  left: 66.666%;
}

aside ul {
  list-style: none;
  margin: 0;
  padding: 0;
  width: 100%;
  padding: 20px 0;
}

aside ul li {
  margin: 0;
  max-width: 300px;
  padding: 10px 20px;
}

aside ul li h2 {
  display: flex;
  text-align: left;
  justify-content: space-between;
  margin: 0;
  font-size: 18px;
}

aside ul li h2 .map-title {
  text-overflow: ellipsis;
  white-space: nowrap;
  overflow: hidden;
  padding-bottom: 5px;
  padding-right: 3px;
}

aside ul li h2 .map-year {
  opacity: 0.7;
}

aside ul li img {
  width: 100%;
  cursor: zoom-in;
}

.buttons {
  display: flex;
  justify-content: space-around;
  font-size: 80%;
}

.buttons a {
  text-align: center;
  background-color: rgba(255, 255, 255, 0.4);
  padding: 4px 10px;
  border-radius: 12px;
}

#title {
  width: 100%;
}

#map {
  width: 100%;
  height: 1450px;
}

.leaflet-container {
  background: none;
}

.modal {
  position: fixed;
  z-index: 2000;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  overflow: auto;
  background-color: rgba(0, 0, 0, 0.8);
  padding: 10px;
  box-sizing: border-box;
}

.modal .image {
  background-size: contain;
  background-repeat: no-repeat;
  background-position: center;
  width: 100%;
  height: 100%;
}
